# Ignore everything
*

# But not these root files
!composer.json
!.gitignore

# Allow web directory
!web/
!web/modules/
!web/modules/custom/
!web/modules/custom/**

!web/themes/
!web/themes/custom/
!web/themes/custom/**
